@import url(iconfont.css);
.left {
  float: left; }

.right {
  float: right; }

body, html {
  height: 100%; }

.clear {
  clear: both; }

header {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 10; }
  header .icon-search {
    font-size: 0.7rem !important;
    color: #ccc;
    padding-top: 10px;
    margin-left: 1rem;
    margin-bottom: 7px; }
  header span {
    font-size: 0.7rem;
    margin-left: 2.8rem;
    margin-top: 8px;
    margin-bottom: 7px; }
  header .icon-iconfontwode {
    font-size: 0.6rem !important;
    color: #ccc;
    padding-top: 11px;
    margin-right: 1rem;
    margin-bottom: 7px; }
  header hr {
    border: none;
    border-top: 0.8px solid #ccc;
    width: 100%;
    margin-top: 0px;
    background-color: white; }

footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: 1px solid #CCCCCC;
  z-index: 10; }
  footer ul {
    margin: 0;
    padding: 0;
    display: flex; }
    footer ul li {
      list-style: none;
      display: inline-block;
      flex: 1;
      text-align: center;
      height: 55px; }
      footer ul li i {
        font-size: 0.65rem !important;
        float: left;
        width: 2.5rem;
        margin-top: 6px; }
      footer ul li p {
        margin: 0;
        font-size: 0.25rem;
        float: left;
        width: 2.5rem; }

.icon-dianying {
  font-size: 0.7rem !important;
  margin-top: 4px; }

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none; }

#wrapper {
  position: absolute;
  left: 0;
  top: 50px;
  overflow: hidden;
  height: 565px;
  width: 100%; }

.main {
  border: 0.5px solid #ccc;
  width: 97%;
  height: 480px;
  margin: 0 auto;
  margin-top: 58px; }
  .main img {
    margin: 11px;
    width: 94%;
    height: 55%; }
  .main .lspan {
    font-size: 0.3rem;
    color: #6C6A6A;
    margin-left: 11px;
    float: left;
    margin-bottom: 20px; }
  .main .rspan {
    font-size: 0.3rem;
    color: #6C6A6A;
    margin-right: 11px;
    float: right;
    margin-bottom: 20px; }
  .main p {
    font-size: 0.4rem;
    color: black;
    margin: 3px 11px;
    width: 100%;
    float: left; }
  .main .icon-diqiu {
    color: darkorange;
    font-size: 0.6rem;
    float: right;
    width: 20px;
    margin-top: 10px; }
  .main .date {
    font-size: 0.35rem;
    color: #6C6A6A;
    float: right;
    margin-top: 16px;
    margin-right: 11px; }

.note {
  font-size: 0.35rem;
  color: #6C6A6A;
  float: left;
  margin-top: 15px;
  margin-left: 10px; }

.like {
  font-size: 0.35rem;
  color: #6C6A6A;
  float: left;
  margin-top: 15px;
  margin-left: 10px; }

.icon-bijiben {
  font-size: 0.55rem !important;
  color: #406CDE;
  margin-left: 15px;
  float: left;
  margin-top: 10px; }

.icon-xin {
  font-size: 0.6rem !important;
  color: #406CDE;
  float: left;
  margin-left: 100px;
  margin-top: 10px; }

.icon-fenxiang {
  font-size: 0.5rem !important;
  float: left;
  margin-left: 90px;
  color: #406CDE;
  margin-top: 10px; }

.hide {
  display: none;
  width: 100%;
  height: 580px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 10px;
  z-index: 100;
  position: absolute;
  left: -10px;
  top: -10px; }
  .hide img {
    margin-top: 150px;
    width: 100%; }

/*# sourceMappingURL=main.css.map */
